.grid {
    display: grid;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.circle-card {
    padding: 17px;
    border-radius: 360px;
    color: white;
    background-color: cornflowerblue;
    box-shadow: 1px 1px grey;
    height: fit-content;
    width: 30%;
    margin: 10px;
}

.circle-card a {
    color: white;
}